sudo: false
language: node_js
node_js:
  - "lts/*"
  - "9"
  - "10"
matrix:
  include:
    - node_js: "lts/*"
      env: TEST_SUITE=standard
env:
  matrix:
    - TEST_SUITE=unit
script: npm run $TEST_SUITE
